.hero {
    margin: 0px;
    background-image: url('../photo/background.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Title {
    font-weight: 900;
    font-size: 3.5em;
    color: #fbff9a;

}

.nav_link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;

}

.nav_link:hover::before,
.nav_link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.nav_link {
    color: inherit;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #fff;
}