body {
    margin: 0px;
    background-image: url('../photo/background.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    position: sticky;
    top: 0px;
    margin-left: 4%;
    margin-right: auto;
    display: inline-flex;
    gap: 115px;
    justify-content: center;
}

.Title {
    font-weight: 900;
    font-size: 3.5em;
    color: #d6dd52;
    text-decoration: underline;
    text-decoration-color: #af0002c7;

}

.nav_cointainer {
    padding-top: 31px;
}

.nav_link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;

}

.nav_link:hover::before,
.nav_link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.nav_link {
    color: inherit;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    padding: 10px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: black;

}

.wrapper {
    padding-top: 20px;
}

.resume {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(197, 194, 194);
    border: 2px solid rgb(186, 182, 182);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.resume span {
    position: relative;
    z-index: 2;
}

.resume:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #d59e4b;
    transition: all .35s;
}

.resume:hover {
    color: rgb(3, 0, 0);
    box-shadow: 0px 0px 12px #d59e4b;
    ;
}

.resume:hover:after {
    width: 100%;
}

/* mid cointainer */
.cointainer_first {
    display: flex;
    justify-content: space-between;
}

.cointainer_title {
    margin-left: 100px;
    margin-top: 150px;
}

.span_cointainer_title {
    font-size: 50px;
    color: #d6dd52;
}

.h2 {
    color: #c7d4dc;
    font-size: 90px;
    line-height: 1.3;
}

.skill_level {
    font-size: 28px;
    color: skyblue;
}


/* button bg img*/

.cointainer_btn {
    display: flex;
    justify-content: end;
    text-align: center;
    margin-bottom: auto;
    margin-top: 250px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #76767b;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}